{% load static %}
<section class="section bg-default text-md-start section-md-inset">
    <div class="container">
      <div class="row row-30 align-items-center justify-content-center justify-content-xl-between">
        <div class="col-sm-6 col-md-5 col-lg-6 wow fadeInLeft"><img src="{% static 'food/images/about-576x537.jpg' %}" alt="" width="576" height="537">
        </div>
        <div class="col-md-7 col-lg-6 col-xl-5">
          <h4 class="title-style-1 wow fadeInRight">Ikki og'iz so'z Ilovamiz haqida</h4>
          <h2 class="wow fadeInRight" data-wow-delay=".1s">O'zimiz haqimizda </h2>
          <p class="offset-top-md-20 wow fadeInRight" data-wow-delay=".2s">Bu ilovamizda siz har qanday eng ommabop Ovqatlanish joylarini ko'rishingiz mumkin. Va har bir joyning o'z menyusidan ovqatlar buyurtma berishingiz mumkin</p>
          <div class="group-xl group-middle d-md-flex justify-content-md-between wow fadeInRight" data-wow-delay=".3s">
            <div>
              <div class="group-xl group-middle"><a class="button button-sm button-icon-3 button-primary button-zakaria" href="about-us.html"><span class="mdi mdi-arrow-right"></span></a>
                <div class="team-navy">
                  <div class="team-navy-name"><a href="#">Diyorbek Baxromov</a></div>
                  <div class="team-navy-status">CEO, Founder</div>
                </div>
              </div>
            </div><img src="{% static 'food/images/signature-1-160x55.png' %}" alt="" width="160" height="55">
          </div>
        </div>
      </div>
    </div>
  </section>